body {
  margin: 0;
  font-family: 'Lato', 'Ubuntu', sans-serif;
}

.main-title {
  position: relative; 
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;

  margin: 0px 0px 32px 0px;

  color: #000000;
}

.main-title::after {
  position: absolute;
  content: "";

  width: 40px;
  height: 4px;
  bottom: -8px;
  left: 0;

  background-color: #63A6B9;
}
